<div layout="row" layout-align="center center" layout-margin>
	<md-icon md-svg-icon="images/ic_lock_48px.svg" class="s48" aria-label="Lock" style="color: greenyellow"></md-icon>
</div>
<!--
<!-- <p>Your user is not recognized. You can request one <a id="userRequest" cursor>here</a> and see snapshots of the app below:</p>
<p class="ui-bar ui-bar-a ui-corner-all">
    This is where you enter your drinks and it's also where you can increase your daily limit by calling a special day
    <img src="css/images/demo_add.png" width="250" imgDemo/>
</p>
<p class="ui-bar ui-bar-a ui-corner-all">
    Here is the stats section where you can see your past consumption
    <img src="css/images/demo_stats.png" width="250" imgDemo/>
</p>
<p class="ui-bar ui-bar-a ui-corner-all">
    This is the section of shame. That's right, you post video there when you drink too much
    <img src="css/images/demo_shame.png" width="250" imgDemo/>
</p> -->
