<div layout="row"  layout-padding layout-align="center center" layout-wrap>
	<div layout="row" layout-margin  md-whiteframe="3" class="ep-card-days" md-colors="{background: 'background-50'}" transparent>
		<h3>Monday</h3>
		<div layout="column">
			<div>
				<p class="md-body-2">
					Limit
				</p>
			</div>
			<div md-whiteframe="3" md-colors="{background: 'accent-100'}" class="ep-card-limit">

			</div>
		</div>
		<div>
			<p class="md-body-2">
				Limit
			</p>
		</div>
	</div>
	<div layout="row" layout-margin  md-whiteframe="3" class="ep-card-days" md-colors="{background: 'background-50'}" transparent>
		<h3>Tuesday</h3>
		<div md-whiteframe="3" md-colors="{background: 'accent-100'}" class="ep-card-limit">

		</div>
		<div md-whiteframe="3" md-colors="{background: 'accent-100'}" class="ep-card-limit">

		</div>
	</div>
	<div layout="row" layout-margin  md-whiteframe="3" class="ep-card-days" md-colors="{background: 'background-50'}" transparent>
		<h3>Wednesday</h3>
		<div md-whiteframe="3" md-colors="{background: 'accent-100'}" class="ep-card-limit">

		</div>
		<div md-whiteframe="3" md-colors="{background: 'accent-100'}" class="ep-card-limit">

		</div>
	</div>
</div>
