<md-list transparent>
  <md-list-item class="md-2-line" md-colors="::{background: 'default-background-50'}">
    <div class="md-list-item-text">
      <h3>Sober</h3>
       <h4>It is beneficial to have <a href="https://www.drinkaware.co.uk/advice/how-to-reduce-your-drinking/how-to-cut-down/alcohol-free-days/">alcohol-free</a> days.</h4>
      <p>A day when you don't drink.</p>
      <p class="md-secondary md-headline">3 pts</p>
    </div>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item class="md-3-line" md-colors="::{background: 'default-background-50'}">
    <div class="md-list-item-text">
      <h3>Moderate</h3>
      <h4>As defined by the <a href="https://www.niaaa.nih.gov/alcohol-health/overview-alcohol-consumption/moderate-binge-drinking">NIH</a>.</h4>
      <p>Drinking up to 2 drinks on one day.</p>
      <p class="md-secondary md-headline">1 pts</p>
    </div>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item class="md-3-line" md-colors="::{background: 'default-background-50'}">
    <div class="md-list-item-text">
      <h3>Low Risk</h3>
      <h4>As defined by the <a href="http://rethinkingdrinking.niaaa.nih.gov/How-much-is-too-much/Is-your-drinking-pattern-risky/Whats-Low-Risk-Drinking.aspx">NIH</a>.</h4>
      <p>Over the last 7 days, no more than 14 drinks in total and no more than 4 drinks on any day.</p>
      <p class="md-secondary md-headline">2 pts</p>
    </div>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item class="md-3-line" md-colors="::{background: 'default-background-50'}">
    <div class="md-list-item-text">
      <h3>Heavy</h3>
      <h4>As defined by the <a href="https://www.niaaa.nih.gov/alcohol-health/overview-alcohol-consumption/moderate-binge-drinking">NIH</a>.</h4>
      <p>Drinking 5 or more drinks on the same occasion on each of 5 or more days in the past 30 days.</p>
      <p class="md-secondary md-headline">-1 pts</p>
    </div>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item class="md-3-line" md-colors="::{background: 'default-background-50'}">
    <div class="md-list-item-text">
      <h3>Unhealthy</h3>
      <h4>The <a href="http://patient.info/health/recommended-safe-limits-of-alcohol">RCP</a> recommended no more than 21 drinks over 7 days.</h4>
      <p>Drinking more than 21 drinks oover the previous 7 days.</p>
      <p class="md-secondary md-headline">-1 pts</p>
    </div>
  </md-list-item>
  <md-divider></md-divider>
  <md-list-item class="md-3-line" md-colors="::{background: 'default-background-50'}">
    <div class="md-list-item-text">
      <h3>Binge</h3>
      <h4>Inspired by the <a href="https://www.drinkaware.co.uk/alcohol-facts/drinking-habits-and-behaviours/binge-drinking/">NHS</a>.</h4>
      <p>Drinking 8 or more drinks on the same day.</p>
      <p class="md-secondary md-headline">-5 pts</p>
    </div>
  </md-list-item>
</md-list>