<div layout="row"  layout-padding layout-align="center center">
	<div layout="column" layout-margin  md-whiteframe="3" class="ep-card" md-colors="{background: 'background-50'}" transparent>
		<h1>The Program</h1>
		<h3>The web app that helps you monitor and moderate your alcohol intake.</h3>
		<p>
			Responsible and healthy drinking starts here:
		</p>
		<md-button class="md-raised md-accent" ui-sref="signup" >Sign Up</md-button>
		<md-divider></md-divider>
		<span>Already have an account?<md-button ng-click="login()">Sign in</md-button></span>
	</div>
</div>