<section>
	<a href="%s">
	<button type="button" style="font-size: 16px;margin: 5px 0 5px;padding: 3px 15px 3px 15px;color: rgb(49, 46, 46);background-color: rgba(224, 224, 224, 0.96);text-transform: none;font-weight: 400;min-width:100px;min-height:100px;border-radius: 10px 10px 10px 10px;">
		1
	</button></a>
	<a href="%s">
	<button type="button" style="font-size: 16px;margin: 5px 0 5px;padding: 3px 15px 3px 15px;color: rgb(49, 46, 46);background-color: rgba(224, 224, 224, 0.96);text-transform: none;font-weight: 400;min-width:100px;min-height:100px;border-radius: 10px 10px 10px 10px;">
		2
	</button></a>
	<a href="%s">
	<button type="button" style="font-size: 16px;margin: 5px 0 5px;padding: 3px 15px 3px 15px;color: rgb(49, 46, 46);background-color: rgba(224, 224, 224, 0.96);text-transform: none;font-weight: 400;min-width:100px;min-height:100px;border-radius: 10px 10px 10px 10px;">
		3
	</button></a>
	<a href="%s">
	<button type="button" style="font-size: 16px;margin: 5px 0 5px;padding: 3px 15px 3px 15px;color: rgb(49, 46, 46);background-color: rgba(224, 224, 224, 0.96);text-transform: none;font-weight: 400;min-width:100px;min-height:100px;border-radius: 10px 10px 10px 10px;">
		4
	</button></a>
	<a href="%s">
	<button type="button" style="font-size: 16px;margin: 5px 0 5px;padding: 3px 15px 3px 15px;color: rgb(49, 46, 46);background-color: rgba(224, 224, 224, 0.96);text-transform: none;font-weight: 400;min-width:100px;min-height:100px;border-radius: 10px 10px 10px 10px;">
		5
	</button></a>
	<a href="%s">
	<button type="button" style="font-size: 16px;margin: 5px 0 5px;padding: 3px 15px 3px 15px;color: rgb(49, 46, 46);background-color: rgba(224, 224, 224, 0.96);text-transform: none;font-weight: 400;min-width:100px;min-height:100px;border-radius: 10px 10px 10px 10px;">
		6
	</button></a>
	<a href="%s">
	<button type="button" style="font-size: 16px;margin: 5px 0 5px;padding: 3px 15px 3px 15px;color: rgb(49, 46, 46);background-color: rgba(224, 224, 224, 0.96);text-transform: none;font-weight: 400;min-width:100px;min-height:100px;border-radius: 10px 10px 10px 10px;">
		7
	</button></a>
	<a href="%s">
	<button type="button" style="font-size: 16px;margin: 5px 0 5px;padding: 3px 15px 3px 15px;color: rgb(49, 46, 46);background-color: rgba(224, 224, 224, 0.96);text-transform: none;font-weight: 400;min-width:100px;min-height:100px;border-radius: 10px 10px 10px 10px;">
		8
	</button></a>
	<a href="%s">
	<button type="button" style="font-size: 16px;margin: 5px 0 5px;padding: 3px 15px 3px 15px;color: rgb(49, 46, 46);background-color: rgba(224, 224, 224, 0.96);text-transform: none;font-weight: 400;min-width:100px;min-height:100px;border-radius: 10px 10px 10px 10px;">
		Other
	</button></a>
</section>
